* {
    margin:0;
    padding:0;
}

body{
    height:100vh;
}

header{
    background-color: #1F2937;
}

.header{
    width:75%;
    margin:0 auto;
}

.logo h1{
    font-size:24px;
    color: #F9FAF8;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    font-size:18px;
    color:#E5E7EB;
}

.left h1{
    font-size:48px;
    font-weight:bold;
    color:#F9FAF8;
}

.left p{
    font-size:18px;
    color:#E5E7EB;
}

.left button{
    background-color:#3882F6;
    color:white;
    border-radius:12%;
    border-width: 0;
    padding:10px;
}

.right img{
    width:300px;
    height:200px;
}

.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:12px;
}

.bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:80px 0;
    gap:40px;
}

nav ul{
    display: flex;
    gap:12px;
}

.section-one{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin:80px 0;
    gap:40px;
}

.cards{
    display:flex;
    gap:60px;
}

.cards p{
    max-width: 150px;
}

.section-one img{
    width:150px;
    height:150px;
}

.section-one h1{
    font-size:36px;
    font-weight: bold;
    color:#1F2937;
}

.section-one p{
    color:#1F2937;
}

.section-two{
    background-color:#E5E7EB;
    padding:80px 0;
}

.section-two p{
    text-align: center;
    font-size:36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
    width:75%;
    margin:0 auto;
}

.container{
    background-color: #3882F6;
}